@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  font: normal 100%/1.3 "Open Sans", sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color: #f2f2f2;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

.img-icon {
  width: 2rem;
}

h1,
h2 {
  font-family: Pacifico, cursive;
  font-weight: normal;
  color: #c39;
}

h2,
h3,
p {
  margin: 0 0 1.3rem;
}

.wrapper {
  max-width: 65rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.navbar {
  list-style-type: none;
  padding: 0;
}

/* ----- =Header ----- */

.masthead {
  background-color: #c39;
  padding: 1em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .333);
}

.masthead h1 {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  margin: 0;
}

.logo-icon {
  float: right;
  height: 2rem;
}

.nav-check {
  position: absolute;
  left: -10000px;
}

.nav-label:hover {
  cursor: pointer;
}

.nav-label img {
  float: left;
}

.nav-label img:last-child {
  display: none;
}

nav {
  background-color: #fff;
  position: fixed;
  top: 4rem;
  left: -100vh;
  transition: left .5s;
  width: 66.666%;
  height: calc(100vh - 4rem);
  box-shadow: 1px 3px 5px rgba(0, 0, 0, .3333);
  z-index: 999;
}

nav .navbar {
  border-bottom: 1px solid #c39;
  padding: 0 0 1rem;
}

nav a {
  display: block;
  text-decoration: none;
  color: #c39;
  padding: .5rem 0;
}

nav a.current {
  background-color: #939;
  color: #fff;
}

nav a.current img {
  display: none;
}

nav a.current img:nth-child(2) {
  display: inline-block;
}

nav a:hover {
  background-color: #c39;
  color: #fff;
  transition: background-color .25s, color .25s;
}

nav a .img-icon,
nav p {
  display: inline-block;
  vertical-align: middle;
}

nav a .img-icon {
  margin: 0 1rem;
  width: 1.5rem;
}

nav p {
  margin: 0;
}

nav a img:nth-child(even) {
  display: none;
}

nav a:hover img:nth-child(even) {
  display: inline-block;
}

nav a:hover img:nth-child(odd) {
  display: none;
}

nav .navbar:last-child a {
  padding: .5rem 1rem;
}

.nav-check:checked ~ nav {
  left: 0;
}

.nav-check:checked ~ .nav-label img:first-child {
  display: none;
}

.nav-check:checked ~ .nav-label img:last-child {
  display: block;
}

/* ----- =Main ----- */

body > main {
  margin-top: 5rem;
}

body > main main {
  max-width: 97rem;
  margin: 0 auto;
  position: relative;
}

.box-dec {
  margin: 0 auto 1rem;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .3333);
  border-top: 1px solid #e2e2e2;
  background-color: #fff;
  overflow: hidden;
}

.special .caption {
  display: block;
  color: #000;
  text-decoration: none;
  transition: background-color .25s, color .25s;
}

.special .caption:hover {
  background-color: #c39;
  color: #fff;
}

.special .caption:hover h2 {
  color: #fff;
  transition: color .25s;
}

.special .caption .wrapper {
  padding: 1rem;
}

.about img {
  padding: 2rem;
  max-width: 25rem;
  margin: 0 auto;
}

.about div {
  padding: 1rem;
}

.about div a {
  color: #c39;
  text-decoration: none;
}

.about div a:hover {
  text-decoration: underline;
  opacity: .75;
}

.products {
  overflow: hidden;
}

.products header {
  padding: 1rem 1rem 0;
}

.products .scroll-window {
  width: 100vw;
  overflow: scroll;
}

.products .scroll-container {
  width: 400vw;
}

.products a {
  text-decoration: none;
  color: #fff;
  font-weight: 100;
  text-align: center;
  display: block;
  padding: 1rem;
  float: left;
  width: 25%;
}

.products a:hover {
  background-color: #f2f2f2;
  transition: background-color 1s;
}

.products figure {
  margin: 0;
  box-shadow: 1px 1px 5px #888;
}

.products figcaption {
  padding: 1rem;
  background-color: #c39;
}

.news div:last-child {
  padding: 1rem;
}

.news h2 {
  margin: 0;
}

.news h3 {
  font-weight: normal;
  font-style: italic;
  font-size: .875rem;
}

.btn {
  background-color: #c39;
  transition: background-color .25s, color .25s;
  color: #fff;
  text-decoration: none;
  border: 2px solid #c39;
  border-radius: 5px;
  padding: .75rem;
  display: inline-block;
}

.btn:hover {
  background-color: #fff;
  color: #c39;
}

.shop-reviews {
  padding: 1rem;
}

.shop-reviews h2 {
  border-bottom: 1px solid #a2a2a2;
}

.reviews {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.user-review {
  overflow: hidden;
  padding: 1rem 0;
  border-bottom: 1px solid #f2f2f2;
}

.user-review:hover {
  background-color: #f2f2f2;
  transition: background-color 1s;
}

.user-img {
  float: left;
  width: 25%;
  padding: 0 1rem 0 0;
}

.user-review-body,
.rating {
  width: 75%;
  float: right;
}

.user-review-body q,
.user-review-body h3 {
  margin: 0;
}

.user-review-body q {
  quotes: none;
}

.rating {
  -webkit-appearance: none;
  appearance: none;
}

.rating img {
  width: 50%;
}

/* ----- =Footer ----- */

body > footer {
  background-color: #000;
}

footer .navbar li {
  display: inline-block;
}

.nav-soc {
  padding: 2rem 1rem 1rem;
  margin: 0;
  text-align: center;
}

.nav-soc a {
  margin: 0 1rem;
  display: block;
}

.soc-icon {
  width: 2rem;
}

.nav-soc img:last-child {
  display: none;
}

.nav-soc a:hover img:first-child {
  display: none;
}

.nav-soc a:hover img:last-child {
  display: block;
}

.nav-info {
  padding: 1rem 1rem 2rem;
  margin: 0;
  text-align: center;
}

.nav-info li:nth-child(2) {
  border-left: 1px solid #404040;
  border-right: 1px solid #404040;
}

.nav-info a {
  padding: 0 .5rem;
  text-decoration: none;
  color: #404040;
  font-size: .875rem;
}

.nav-info a:hover {
  color: #c39;
}

@media only screen and (min-width: 25em) {

  nav {
    width: 50%;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  h2,
  p {
    margin: 0 0 1.4rem;
  }

  /* ----- +Header ----- */

  .masthead label {
    display: none;
  }

  .logo-icon {
    float: left;
    margin: 0 2rem 0 0;
  }

  .masthead h1 {
    text-align: left;
    display: none;
  }

  nav {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: -1rem;
    left: auto;
    right: 0;
    width: 30rem;
    height: inherit;
    box-shadow: none;
    z-index: 999;
    padding: .25rem 1rem;
    text-align: right;
  }

  .nav-check:checked ~ nav {
    left: auto;
  }

  .masthead .wrapper {
    overflow: visible;
  }

  nav .navbar {
    margin: 0;
    padding: 0;
    display: inline-block;
    border: none;
  }

  nav .navbar:last-child {
    display: none;
  }

  nav li {
    display: inline-block;
  }

  nav a {
    padding: 1rem 0;
    color: #fff;
    border-radius: 10px;
  }

  nav a p {
    margin: 0 1rem 0 0;
  }

  nav a img:nth-child(even) {
    display: inline-block;
  }

  nav a img:nth-child(odd) {
    display: none;
  }

  nav a:hover img:nth-child(even) {
    display: none;
  }

  nav a:hover img:nth-child(odd) {
    display: inline-block;
  }

  nav a:hover {
    color: #c39;
    background-color: #fff;
  }

  /* ----- +Main ----- */

  body > main {
    margin: 3.9rem 0 0;
  }

  .special {
    position: relative;
    height: 30rem;
    width: 100%;
  }

  .special img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    min-width: 50rem;
  }

  .caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
  }

  .caption p {
    color: #fff;
  }

  .about img {
    float: right;
    width: 20rem;
    padding: 1rem 2rem 1rem 1rem;
  }

  .products h2 {
    padding: 1rem 1rem 0;
  }

  .products .scroll-container {
    width: 100vw;
  }

  .news {
    overflow: hidden;
  }

  .news div {
    float: left;
    width: 40%;
    position: relative;
    overflow: hidden;
  }

  .news div:last-child {
    width: 60%;
    padding: 2rem;
  }

  .news img {
    min-width: 30rem;
    position: relative;
    left: -50%;
  }

  .user-review {
    float: left;
    width: 33.3333%;
    padding: 1rem;
    border-bottom: none;
  }

  .user-img {
    float: none;
    width: 50%;
    padding: 0 0 1rem;
    margin: 0 auto;
  }

  .user-review-body,
  .rating {
    width: 100%;
    float: none;
  }

  /* ----- +Footer ----- */

  .nav-soc a {
    margin: 0 3rem;
  }

  .soc-icon {
    width: 3rem;
  }

}

@media only screen and (min-width: 50em) {

  .masthead h1 {
    display: block;
  }

  .news img {
    left: -5%;
  }

  .nav-info a {
    padding: 0 1.5rem;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  h1,
  p {
    margin: 0 0 1.5rem;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

}

@media only screen and (min-width: 132em) {

  .transition-bar {
    position: absolute;
    top: 0;
    right: 0;
    width: 15em;
  }

  .products a {
    width: 100%;
    padding: 1rem;
  }

}
